.css-11qx4gg{
    opacity: 1;
    right: -1.5rem;
    height: 0.5rem;
    background-color: transparent;
    transform: scale(1);
}

.primary-button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 38.4px;
    margin: 0px;
    line-height: 1.6;
    width: 100%;
    user-select: none;
    background-color: rgb(255, 75, 75);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 75, 75);
}
.primary-button:focus{
    outline: none;
}
.primary-button:focus-visible{
    box-shadow: rgba(255, 75, 75, 0.5) 0px 0px 0px 0.2rem;
}
.primary-button:hover{
    background-color: rgb(255, 51, 51);
}
.primary-button:active {
    background-color: transparent;
    color: rgb(255, 75, 75);
}
.secondary-button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 38.4px;
    margin: 0px;
    line-height: 1.6;
    color: inherit;
    width: 100%;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(49, 51, 63, 0.2);
}
.secondary-button:focus {
    outline: none;
}
.secondary-button:focus-visible {
    box-shadow: rgba(255, 75, 75, 0.5) 0px 0px 0px 0.2rem;
}
.secondary-button:hover {
    border-color: rgb(255, 75, 75);
    color: rgb(255, 75, 75);
}
.secondary-button:active {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 75, 75);
    background-color: rgb(255, 75, 75);
}
.css-4z1n4l.en6cib65 > img{
    display: none;
}
.element-container:has(#button-after) + div button{
    position:fixed;
    bottom:0;
    z-index: 299;
    margin-bottom: 120px;
    transform: translateX(-50%);
    left: 50%; 
  
    margin-left: auto;
    margin-right: auto;
}


